
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.inter-logo{
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: ;
}

/* shared styles */
.btn-primary{
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    background: #4E47FF;
    border: none;
    color: #ffff;
    padding: 12px 36px;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.center{
    text-align: center;
}
.formtitle{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
}
.formblank{
    width: 497px;
    height: 70px;
    border-radius: 10px;
    background-color: white;
    border: ;
}
body {
    background-color: rgba(255, 255, 255, 0.5);
}
.bgcolorwhite {
    background-color: white;
}
    

/* nav */
.navtitle{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 100px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
/* banner section */
.banner-title{
    font-size: 65px;
    font-weight: bold;
    
}
.banner{
    align-items: center;
    margin: 150px 265px;
    text-align: center;
}
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 700px;
}
    
    
    /* section2 */
.section2-p{
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
}
.section2{
    width: 517px;
    height: 200px;
}



/* main */
main{
    max-width: 1140px;
    margin: 0px auto;
}
.banner-section{
    display: flex;
    gap: 220px;
    margin-top: 115px;
}
.img1{
    border-radius: 50px;
    width: 400px;
    height: 330px;
}

/* section3 */
.section3{
    text-align: center;    
}

.numbers{
    display: flex;
    align-items: center;
    margin: 40px 140px;
    gap: 158px;
}
.h4{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.description3{
    color: rgba(0, 0, 0, 0.5);
}
.section03{
    margin-top: 115px;
    background-color: rgba(78, 71, 255, 0.1);
    height: 306px;
    border-radius: 40px;
    padding-top: 50px;
}

/* what our users say section */
.users-cards{
    display: flex;
}
.profile{
    display: flex;
    align-items: center;
    width: 320px;
    height: 45px;
    padding: 0px;
    gap: 12px;

}
.carddescription{
    margin-bottom: 24px;
    color: rgba(30, 30, 30, 1);
}
.users-cards{
    gap: 20px;
}
.profileimg{
    width: 40px;
    height: 40px;
}
.profile-description{
    margin-top: 2px;
    color: rgba(179, 179, 179, 1);
    
}
.profile-title{
    margin-bottom: 2px;
    color: rgba(117, 117, 117, 1);
}
    
.card-title{
    margin-bottom: 8px;
    font-size: 20px;
}
.title4{
    font-size: 42px;
    font-weight: bold;
}
.section4{
    margin-top: 135px;
}
/* section 5 */
.sec5{
    margin-top: 135px;
}
.imgsec05{
    border-radius: 48px;
}
.sec5title{
    font-size: 50px;
    font-weight: bold;
    
}
.sec5descript{
    color: rgba(0, 0, 0, 0.5);
}
.sec05title{
    margin-bottom: 20px;
}
.sec5descript{
    margin-bottom: 20px;
}
.sec5btn{
    margin-bottom: 20px;
}
/* form section6 */
.sec6{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    
}
.sec06title{
    font-size: 97px;
    font-weight: bold;
}
.sec6title{
    width: 530px;
    height: 230px;
}
form {
    width: 497px;
    height: 490px;
}
.btn6{
    width: 497px;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
}

/* footer */
.foot{
    width: 530px;
    height: 220px;
   margin: 0px auto;
}
.footlast{
    margin: 0px 455px;
    
}
.footer-title {
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 8px;
}
.footer-description{
    color: rgba(135, 141, 161, 1);

}
.footdescript{
    width: 530px;
    height: 48px;
}
footer nav {
    gap: 48px;
    
}
.footerlink{
    text-decoration: none;
    color: #8987A1;
 
}